@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --text: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text: black;
    }
}