:root {
  --visu-height: 20px;
  --visu-width: 20px;
}

#content {
  height: auto;
}

div span {
  /* font-size: 24px; */
  /* font-family: 'Courier New', Courier, monospace; */
  color: white;
  display: block;
  float: left;
  height: inherit;
  width: var(--visu-width);
}

div {
  margin-left: var(--visu-width);
  height: var(--visu-height);
  /* width: 100%; */
  /* overflow: scroll; */
}

div:before {
  text-align: right;
  display: block;
  position: absolute;
  content: attr(data-row-number);
  left: var(--visu-width);
    font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0px;
  padding: 0px;
}

.black {
  background-color: green;
  /* color: white; */
  color: black;
}

.clipping {
  background-color: red;
  color: red;
}