div span {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
}

.black {
  background-color: black;
  /* color: white; */
  color: black;
}

.clipping {
  background-color: red;
}